<%= simple_form_for(:session, :url => sessions_path) do |f| %>
  <div class="field">
    <%= f.input :email, :placeholder => "email@mycompany.com"%><br />
    
  </div>
  <div class="field">
    <%= f.input :password %><br />
  </div>
  <div class="actions">
    <%= f.submit "Sign in" %>
  </div>
<% end %>

<p>New user? <%= link_to "Sign up now!", signup_path %></p>