
  

  <h3>Enter Employee's Vacation requested days </h3>
  <div class="inputs">
    <b>Name</b> : <%= @employee.name %>
    <b>DOE</b> : <%= @employee.doe %>
    <b>DOB</b> : <%= @employee.dob %> <br />

    <%# @diffDays; %>

    Vacation days entitled : <%= @vacayTaken = @employee.vacayTotal %> <br />
     Vacay entitled =  <%=@vacayTaken%>
    <p>Select the requested dates:
    <%#= f.text_field :dob %>
    From to
   </p>

   <%= simple_form_for (@vacay), 
        :url => url_for(:action => 'setVacay', :controller => 'employees'),
        :method => 'post' do |v| %>

    <%= v.error_notification %>
    <%= v.text_field :dateFrom, :value_method => @vacay %> to <%= v.text_field :dateUntil, :value_method => @vacay %>



  </div>
  test <%= @employee.id %>


  <div class="actions">
    <%= v.hidden_field :sumVacay, :value => @diffDays %>
    <%= v.hidden_field :brought_forward, :value => @vacayTaken%>
    <%= v.hidden_field :employee_id, :value => @employee.id%>
    <%= v.hidden_field :user_id, :value => @user.id%>
    <%= v.button :submit %>
  </div>
<% end %>




 <%#= f.input :vacayTotal, :label => "Vacation Days Allotted" %>