
  

  <h3>Enter Employee's Vacation requested days </h3>
  <div class="inputs">
    <b>Name</b> : <%= @employee.name %>
    <b>DOE</b> : <%= @employee.doe %>
    <b>DOB</b> : <%= @employee.dob %> <br />

    Vacation days entitled : <%= @employee.vacayTotal - @employee.vacayUsed%> <br />

    <p>Select the requested dates:
    <%#= f.text_field :dob %>
    From to
   </p>

   <%= simple_form_for (@vacay), 
        :url => url_for(:action => 'setVacay', :controller => 'employees'),
        :method => 'post' do |v| %>

    <%= v.error_notification %>
    <%= v.text_field :dateFrom %> to <%= v.text_field :dateUntil %>



  </div>


  <div class="actions">
    <%= v.hidden_field :user_id, :value => @user.id%>
    <%= v.button :submit %>
  </div>
<% end %>




 <%#= f.input :vacayTotal, :label => "Vacation Days Allotted" %>