

<div id="showEmployee">
	
	


<p id="notice"><%= notice %></p>

<p>
 <b>Name: 
  <big><%= @manage.name %></big>
 </b>
</p>
<td class="sidebar round">
      <b>Date of Birth:</b>
	  <%= @manage.dob %>



	  <b>Date of Employment:</b>
	  <%= @manage.doe %>
    </td>


<p>
  <b>Vacation Days Allotted:</b>
  <%= @manage.vacayAllot %>



  <b>Vacation Days Used:</b>
  <%= @manage.vacayUsed %>

<p>

  <b>Sick Days Allotted:</b>
  <%= @manage.sickAllot %>



  <b>Sick Day Used:</b>
  <%= @manage.sickHave %>
</p>
</div>

<%= link_to 'Edit', edit_manage_path(@manage) %> |
<%= link_to 'Back', manages_path %>
