<%= link_to "Add Employee", "/new"%>
<% unless @user.employees.empty? %>
        <table class="employees" summary="User employees">
          <%#= render @manageEmployees %>

			<% @employees.each do |employee| %>
			<td class="employee">
		    	<b>Name</b> <span class="content"><%= employee.name %></span>
				<b>DOE</b> <span class="content"><%= employee.doe %></span>
				<span class = "content"><b> Vacation Days:</b> <%= employee.vacayUsed %> of <%= employee.vacayTotal %><span>
				<span class = "content"><b> Sick Days:</b> <%= employee.sickUsed %> of <%= employee.sickTotal %><span>

		    <span class="timestamp">
		    	
		    	<%= link_to "Request Vacation", :controller => "employees", :action => "editVacay", :id => employee.id %> |
		    	<%= link_to "Request Sick Day", :controller => "employees", :action => "editSick", :id => employee.id %> |
				<%= link_to "Edit", edit_employee_path(employee.id) %> | 
		 		<%= link_to "Delete", employee, :method => :delete, :confirm => "You sure?",
				                                :title => "Delete #{employee.name}" %>	
		      Posted <%= time_ago_in_words(employee.created_at) %> ago.
		    </span>
		  	
		</td>
		</tr>
		<% end %>
        </table>
        <%= will_paginate @employees %>
      <% end %>
    </td>

