<div id="setForm">	
<fieldset id="" class="">
		<legend>Prompt me when - 2.0 </legend>
		
		
	
		<% @employees.each do |employee| %>
		<td class="employee">
			
	    	<b>Name</b> <span class="content"><%= employee.name %></span>
			<b>DOE</b> <span class="content"><%= employee.doe %></span>
			<b>Vacay Used</b> <span class="content"><%= employee.vacayUsed %></span>
			<b>Sick Used</b> <span class="content"><%= employee.sickUsed %></span> <%= link_to "Edit", edit_employee_path(employee.id) %>
	 		<%= link_to "Delete", employee, :method => :delete, :confirm => "You sure?",
			                                :title => "Delete #{employee.name}" %>		
	    <span class="timestamp">
	      Posted <%= time_ago_in_words(employee.created_at) %> ago.
	    </span>
	  	
	</td>
	</tr>
	<% end %>
    </table>
    <%= will_paginate @employees %>

	<%= simple_form_for @user do |f| %>
		<%= f.input :onyear, :label => "Employees has worked TEST  for one year.", :as => :radio%>					
		<%= f.input :anniversary, :label => "Employees has reached anniversary.", :as => :radio%>
		<%= f.input :max, :label => "Employees has reach the max amount of vacation/sick days" , :as => :radio%>
    <%= f.button :submit %>
<% end %>

</fieldset>
</div>