<table class="profile">
  <tr>
    <td class="main">
 
<% unless @user.employees.empty? %>
<%= link_to "Employee with Max vacation days used", "#", :id => "maxVacay" %>
<%= link_to "Employee with Max Sick days used.", "#", :id => "maxSick" %>
<%= link_to "Employee approaching their anniversary.", "#", :id => "anniversary" %>

        <table class="employees" summary="User employees">
          <%#= render @employeesVacay %>
		  


		</table>
		
	

		<div id="sidebar">
			
		<b><%= @user.name %></b>
 		of <b><%= @user.company%></b>
      with <strong><%= @user.employees.count %></strong> employees.
    </td>
		</div>
  </tr>

</table>