<h2><%= @user.company %> Vacation Days Report</h2>
Sort by:
<%= link_to "Most Vacation days left", "#", :id => "VDT" %> |

	<% @vacayUCount = 0 
	   @vacayTCount = 0
	   @sickUCount = 0
	   @sickTCount = 0
	 %>

<div id="vacayLeft">
	<table border="1">
	  <tr>
	    <th>Name</th>
	    <th>Vacay Days Taken</th>
		<th>Vacay Days Left</th>
	  </tr>
		<% @employees.each do |vacay| %>
	  <tr>
	    <td><%= vacay.name %></td>
	    <td><%= vacay.vacayUsed %></td> <% @vacayUCount = @vacayUCount + vacay.vacayUsed %>
		<td>  <% @vacaySum = vacay.vacayTotal - vacay.vacayUsed %><%=@vacaySum %>
		
			<% if @vacaySum >= 0 %>
			<% @vacayTCount = @vacayTCount + @vacaySum %>
			<% else %>
			*
			<% end %>
			
			<%end%>
	   </td>
	  </tr>
	
	<tr>
		<th>Total</th>
		<th><%= @vacayUCount%></th>
		<th><%= @vacayTCount%></th>	
	</tr>
	</table>



</div>	
	

