<div id="reportForm">
	<fieldset id="Quick_reports" class="">
		<legend>Quick Reports</legend>
		<ol>
		 	<li>Report to date, who's taken vacation days and how many <%= link_to "Click to generate", 'vacay_report' %> </li>
			<li>Report to date, who's taken sick days and how many <%= link_to "Click to generate", 'sick_report' %> </li>
		<!--	<li>Report of Vacation days carried forward from previous years <%= link_to "Click to generate",  %> </li> -->
			<li>Report of Vacation days VS Vacation day's allotted <%= link_to "Click to generate", 'vs_report'  %> </li> 
		<!--<li>Yearly Report of Vacation & Sick days used  <%= link_to "Click to generate",  %> </li> -->
		</ol>
	</fieldset>
	
	<fieldset id="Custom_reports" class="">
		<legend>Customized Reports - Coming Soon </legend>
		<ol>
		 	<li>Report to date, who's taken vacation and how many days <%= link_to "Click to generate",  %> </li>
			<li>Report of Vacation days carried forward from previous years <%= link_to "Click to generate",  %> </li>
		</ol>
	</fieldset>
</div>

