<div id="reportForm">
	<fieldset id="Quick_reports" class="">
		<legend>Quick Reports</legend>
		<ol>
		 	<li>Report to date, who's taken vacation and how many days <%= link_to "Click to generate", manages_path %> </li>
			<li>Report of Vacation days carried forward from previous years <%= link_to "Click to generate", manages_path %> </li>
			<li>Report of Vacation days VS Vacation day's allotted <%= link_to "Click to generate", manages_path %> </li>
			<li>Yearly Report of Vacation & Sick days used  <%= link_to "Click to generate", manages_path %> </li>
		</ol>
	</fieldset>
	
	<fieldset id="Custom_reports" class="">
		<legend>Customized Reports</legend>
		<ol>
		 	<li>Report to date, who's taken vacation and how many days <%= link_to "Click to generate", manages_path %> </li>
			<li>Report of Vacation days carried forward from previous years <%= link_to "Click to generate", manages_path %> </li>
		</ol>
	</fieldset>
</div>

