<header>
    <% logo = image_tag("logo.png", :alt => "Sample App",:width => 200 ,:class => "round") %>
	<%= link_to logo, root_path %>
    <nav class="round">
      <ul>
		<li><%= link_to "Home", root_path %></li>
		<li><%= link_to "About", about_path %></li>
		<li><%= link_to "Pricing and Plans", plans_path %></li>
		<li><%= link_to "Blog", 'http://www.rorywalker.com' %></li>
		 <% if signed_in? %>
		<li><%= link_to "Sign out", signout_path, :method => :delete %></li>
		<% else %>
	    <li><%= link_to "Log in", signin_path %></li>
		<%end %>
      </ul>
    </nav>
  </header>